<header>
  <nav>
    <div id="nav-extending-bar">
      <div id="nav-logo">
        <a routerLink="/">
          <img src="assets/logo.png" alt="Abon Logo"/>
        </a>
      </div>
      <nav-burger></nav-burger>
    </div>

    <div id="nav-links" [ngClass]="{show: this.burgerComponent.open}">
      <a routerLink="/products" routerLinkActive="active-tab" id="products-header">Products</a>
      <a routerLink="/testimonials" routerLinkActive="active-tab" id="testimonials-header">Testimonials</a>
      <a routerLink="/about" routerLinkActive="active-tab" id="about-header">About Us</a>
    </div>
  </nav>
</header>
