<div id="customer-forms">
  <h2>Customer Details</h2>
  <div id="customer-details-form">
    <div class="entry">
      <div class="form-label">First name<span class="mandatory-form-star">*</span></div>
      <input type="text" name="fname"/>
    </div>
    <div class="entry">
      <div class="form-label">Surname<span class="mandatory-form-star">*</span></div>
      <input type="text" name="sname"/>
    </div>
    <div class="entry">
      <div class="form-label">Email<span class="mandatory-form-star">*</span></div>
      <input type="text" name="email"/>
    </div>
  </div>
  <h2>Delivery Details</h2>
  <div id="delivery-details-form">
    <div class="entry">
      <div class="form-label">Line 1<span class="mandatory-form-star">*</span></div>
      <input type="text" name="1addr"/>
    </div>
    <div class="entry">
      <div class="form-label">Line 2</div>
      <input type="text" name="2addr"/>
    </div>
    <div class="entry">
      <div class="form-label">Town<span class="mandatory-form-star">*</span></div>
      <input type="text" name="town"/>
    </div>
    <div class="entry">
      <div class="form-label">County</div>
      <input type="text" name="county"/>
    </div>
    <div class="entry">
      <div class="form-label">Postcode<span class="mandatory-form-star">*</span></div>
      <input type="text" name="postcode"/>
    </div>
  </div>
</div>
