    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2b2a24">

        <!-- The logo button-->
        <a class="navbar-brand mb-0 h1" href="/">
            <img src="logo.png" width="auto" height="100%" class="d-inline-block align-top" alt="Abon Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/"><h2>Home</h2></a>
                <a class="nav-item nav-link" href="/products"><h2>Products</h2></a>
                <a class="nav-item nav-link" href="about.html"><h2>About Us</h2></a>
                <a class="nav-item nav-link" href="testimonials.html"><h2>Testimonials</h2></a>
            </div>
        </div>
    </nav>
