
<div class="col-sm-12 col-md-6 p-2" id="product">
  <div class="view view-first rcorners-tab">
    <img src="" class="product-image" alt="First slide" style="width:100% "/>
    <div class="container outer-div">
      <div class="mask proudct-content">
        <h1 class="abon-orange" id="product-name"></h1> 
        <button type="button" class="mt-1 btn btn-lg abon-bg-orange" data-toggle="modal" data-target="#superfoodToggle"><i class="fas fa-info-circle"></i></button>
      </div>
    </div>
  </div>
</div>