<div>
  <popup-layout [title]="'Checkout'" [closeKey]="'checkout'">
  <div id="popup-body-container" class="checkout">
    <div id="checkout-main">
      <div id="checkout-left">
        <customer-forms></customer-forms>
      </div>
      <div id="checkout-right">
        <basket-overview [orders]="this.orders"></basket-overview>
        <checkout-timer [timeLeftSecs]="this.maxTimeSecs" (timesUp)=timesUpRes()></checkout-timer>
      </div>
    </div>
    <div id="checkout-payment-buttons" *ngIf="this.withinTime">
      <button id="cash-button" class="checkout-buttons">Pay with Cash</button>
      <button id="paypal-button" class="checkout-buttons">Pay by Paypal</button>
    </div>
    <time-checkout-error *ngIf="!this.withinTime"></time-checkout-error>
  </div>
  </popup-layout>
</div>
