<nav>
  <div id="nav-extending-bar">
    <div id="nav-logo">
      <a href="/">
        <img src="logo.png" alt="Abon Logo"/>
      </a>
    </div>
    <div id="burger">
      <div class="burger-bar" id="bar1"></div>
      <div class="burger-bar" id="bar2"></div>
      <div class="burger-bar" id="bar3"></div>
    </div>
  </div>

  <div id="nav-links">
    <a href="/products" id="productsHeader">Products</a>
    <a href="/testimonials" id="testimonialsHeader">Testimonials</a>
    <a href="/about" id="aboutHeader">About Us</a>
  </div>
</nav>
