<tr class="basketRowId">
  <td class="pt-3-half basket-row-product-name"></td>
  <td class="pt-3-half basket-row-product-price"></td>
  <td class="pt-3-half" contenteditable="false">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-3 col-xs-offset-3">
          <div class="input-group number-spinner">
            <span class="input-group-btn">
              <button style="min-width: 2.5rem" class="bg-light btn btn-decrement btn-outline-secondary" type="button">
                <strong>-</strong>
              </button>
            </span>
            <input type="text" style="max-width: 3.0rem" class="form-control text-center" value="1" readonly="readonly"/>
            <span class="input-group-btn">
              <button style="min-width: 2.5rem" class="bg-light btn btn-increment btn-outline-secondary" type="button">
                <strong>+</strong>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </td>
  <td>
    <button type="button" class="btn btn-danger btn-rounded removeBtn btn-sm my-0">Remove</button>
  </td>
</tr>
