<div class="basket-row">
  <div class="horizontal">
    <div class="product-label">
      <span class="product-icon">&#x1f35c;</span>
      <span class="product-name">product name</span>
    </div>
    <div class="product-unit-price">£<span></span></div>
    <div class="product-quantity-bar">
      <button class="decrement">-</button>
      <input class="product-quantity" readonly="readonly" value="1"></input>
      <button class="increment">+</button>
    </div>
    <div class="product-total-price">£<span></span></div>
  </div>
  <div class="wiggle">
    <svg xmlns="http://www.w3.org/2000/svg">
      <path/>
    </svg>
  </div>
</div>
