<div class="modal fade" id="superfoodToggle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header abon-bg-orange">
        <h5 class="modal-title" id="exampleModalLongTitle">Error: Product Info Not Found</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- add times button here -->
          <span aria-hidden="true">&#215;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row">
            <div class="container mx-2">
                <p class="product-description">Error: Description Not Found
                </p>
                <h5 class="product-price">Error Price Not Found</h5>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fill in: "name info", "description", "price"; -->