<div id="popup-body-container" class="checkout">
  <div id="checkout-main">
    <div id="customer-form">
      <h2>Delivery Details</h2>
      <div>
        <input></input>
        <input></input>
        <input></input>
        <input></input>
        <input></input>
        <input></input>
      </div>
    </div>
    <div id="basket-overview">
      <h2>Your Order</h2>
    </div>
  </div>
  <div id="checkout-payment-buttons">
    <button class="checkout-buttons">Pay with Cash</button>
    <button class="checkout-buttons">Pay by Paypal</button>
  </div>
</div>
