<div id="popup-body-container" class="checkout">
  <div id="checkout-main">
    <div id="checkout-left">
      <div id="customer-forms">
        <h2>Customer Details</h2>
        <div id="customer-details-form">
          <div class="entry">
            <div class="form-label">First name<span class="mandatory-form">*</span></div>
            <input type="text" name="fname"></input>
          </div>
          <div class="entry">
            <div class="form-label">Surname<span class="mandatory-form">*</span></div>
            <input type="text" name="sname"></input>
          </div>
          <div class="entry">
            <div class="form-label">Email<span class="mandatory-form">*</span></div>
            <input type="text" name="email"></input>
          </div>
        </div>
        <h2>Delivery Details</h2>
        <div id="delivery-details-form">
          <div class="entry">
            <div class="form-label">Line 1<span class="mandatory-form">*</span></div>
            <input type="text" name="1addr"></input>
          </div>
          <div class="entry">
            <div class="form-label">Line 2</div>
            <input type="text" name="2addr"></input>
          </div>
          <div class="entry">
            <div class="form-label">Town<span class="mandatory-form">*</span></div>
            <input type="text" name="town"></input>
          </div>
          <div class="entry">
            <div class="form-label">County</div>
            <input type="text" name="county"></input>
          </div>
          <div class="entry">
            <div class="form-label">Postcode<span class="mandatory-form">*</span></div>
            <input type="text" name="postcode"></input>
          </div>
        </div>
      </div>
    </div>
    <div id="basket-overview">
      <h2>Your Order</h2>
      <div id="basket-overview-container"></div>
      <div id="checkout-total-amount-container" class="horizontal">
        <div class="total">Total:</div>
        <div class="amount">£<span></span></div>
      </div>
    </div>
  </div>
  <div id="checkout-payment-buttons">
    <button id="cash-button" class="checkout-buttons">Pay with Cash</button>
    <button id="paypal-button" class="checkout-buttons">Pay by Paypal</button>
  </div>
</div>
