<div id="checkout-confirmation">
  <h2>Order Submitted!</h2>
  <p>Your order has been placed and will be delivered to the below address in the next five days.</p>
  <p id="checkout-confirmation-address"></p>
  <p id="checkout-confirmation-cash-payment">Since you are paying by cash, please have the full amount ready at the door upon delivery.</p>
  <p id="checkout-confirmation-paypal-payment">Your payment has been confirmed by PayPal, so you don't need to worry about cash on the door.</p>
  <p>We have emailed you at the email you provided, <span id="checkout-confirmation-email"></span>, with a receipt and will email you again on the day of delivery.</p>
  <p>Please contact jn98.abon@gmail.com if you would like to specify a delivery date and time.</p>
</div>
