<nav>
  <div id="nav-extending-bar">
    <div id="nav-logo">
      <a href="/">
        <img src="logo.png" alt="Abon Logo"/>
      </a>
    </div>
    <div id="burger" class="mobile-only">
      <div id="bar1"></div>
      <div id="bar2"></div>
      <div id="bar3"></div>
    </div>
  </div>

  <div id="nav-links">
    <a href="/products" id="products-header">Products</a>
    <a href="/testimonials" id="testimonials-header">Testimonials</a>
    <a href="/about" id="about-header">About Us</a>
  </div>
</nav>
