<img src="assets/roastVeg-words.png" id="head-image" alt="Abon product"/>
<div id="centred-content">
  <div id="content-container">
    <app-wiggle></app-wiggle>
    <h2>Fast, Tasty, Nutritious <span class="subtitle">The way it should be</span></h2>
    <p>The ideal ready-meal is tasty, nutritious, cheap and quick to prepare. Currently, there isn’t one product that ticks all the boxes, and supermarket shelves are filled with uninspiring compromises.</p>
    <p>The solution is A Bag Of Nutrition (Abon) - a frozen, vacuum sachet of curry or pasta sauce. Each sachet guarantees three of your five a day, is vegan, gluten free, preservative free, and can be prepared in less than five minutes. Just add a sachet to a pan of boiling water with your rice or pasta, snip it open and enjoy!</p>
    <p>More and more people are recognising the benefits of a plant based diet, but being vegan can be really hard; our products are a shortcut to this healthier, more ethical lifestyle.</p>
    <app-wiggle></app-wiggle>
    <home-animations></home-animations>
  </div>
</div>
