<nav class="navbar navbar-expand-lg navbar-dark sidebar" style="background-color: #2b2a24">
    <a class="navbar-brand mb-0 h1" href="#">
        <img src="../site/images/logo.png" width="auto" height="100%" class="d-inline-block align-top" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ">
            <a class="nav-item nav-link" href="/admin/orders"><h2 class="ordersHeader">Orders</h2></a>
            <a class="nav-item nav-link" href="/admin/products"><h2 class="productsHeader">Products</h2></a>
            <a class="nav-item nav-link" href="/admin/testimonials"><h2 class="testimonialsHeader">Testimonials</h2> </a>
        </div>
    </div>
</nav>
