<tr>
    <td class="pt-3-half order-id"></td>
    <td class="pt-3-half order-customer"></td>
    <td class="pt-3-half order-product"></td>
    <td class="pt-3-half order-quantity"></td>
    <td class="order-date"></td>
    <td class="order-time"></td>
    <td class="pt-3-half order-status"></td>
      <div class="form-group">
          <select class="form-control order-status" id="stock-selector">
            <option class="order-status-1">Completed</option>
            <option class="order-status-0">Pending</option>
          </select>
        </div>
    <td class="row-buttons">
        <button type="button" class="btn btn-success btn-rounded confirmBtn btn-sm my-0">Confirm Changes</button>
        <button type="button" class="btn btn-danger btn-rounded removeBtn btn-sm my-0">Remove</button>
    </td>
  </tr>
