<tr>
    <td class="pt-3-half order-id"></td>
    <td class="pt-3-half order-customer"></td>
    <td class="pt-3-half oder-product"></td>
    <td class="pt-3-half order-quantity"></td>
    <td class="pt-3-half order-price"></td>
    <td class="order-date"></td>
    <td class="order-time"></td>
    <td class="pt-3-half order-status"></td>
    <td class="row-buttons">
        <button type="button" class="btn btn-danger btn-rounded confirmBtn btn-sm my-0">Confirm Changes</button>
        <button type="button" class="btn btn-danger btn-rounded removeBtn btn-sm my-0">Remove</button>
    </td>
  </tr>
