<tr>
    <td class="pt-3-half product-id" contenteditable="false"></td>
    <td class="pt-3-half product-name" contenteditable="true"></td>
    <td class="pt-3-half product-price" contenteditable="true"></td>
    <td class="pt-3-half" contenteditable="false">
        <select class="form-control image-options" id="image-selector"></select>
    </td>
    <td class="pt-3-half product-description" contenteditable="true"></td>
    <td class="pt-3-half" contenteditable="true"><div class="form-group">
        <select class="form-control product-status" id="stock-selector">
          <option class="product-status-2">Available</option>
          <option class="product-status-1">Sold Out</option>
          <option class="product-status-0">Coming Soon</option>
        </select>
      </div>
    </td>
    <td>
        <button type="button" class="btn btn-danger btn-rounded confirmBtn btn-sm my-0">Confirm Changes</button>
        <button type="button" class="btn btn-danger btn-rounded removeBtn btn-sm my-0">Remove</button>
    </td>
  </tr>
