<tr>
    <td class="pt-3-half review-id"></td>
    <td class="pt-3-half reviewer-name"></td>
    <td class="review-description"></td>
    <td class="pt-3-half review-stars"></td>
    <td class="pt-3-half review-status">
        <div class="form-group">
            <select class="form-control" id="stock-selector">
              <option class="review-status-showing">Showing</option>
              <option class="review-status-hidden">Hidden</option>
            </select>
          </div>
    </td>
    <td>
        <button type="button" class="btn btn-danger btn-rounded confirmBtn btn-sm my-0">Confirm Changes</button>
        <button type="button" class="btn btn-danger btn-rounded removeBtn btn-sm my-0">Remove</button>
    </td>
  </tr>
