.cartoon-animation {
  height: auto;
  text-align: center;
}

.animation-text {
  margin-bottom: 15px;
}

@media all and (max-width: 1000px) {

}

@media all and (max-width: 700px) {
  .cartoon-animation svg {
    width: 80%;
  }
}
