:root {
  --abon-green: #00cc00;
  --abon-yellow: #ffa133;
  --abon-red: #ff3333;
  --abon-grey: #2b2a24;
  --abon-orange: #ff6033;
}

#head-image {
  width: 100%;
}

@media all and (max-width: 1000px) {

}

@media all and (max-width: 800px) {
  div.cartoon-animation {
    text-align: center;
  }

  svg.cartoon-animation {
    width: 80%;
    padding-top: 0px;
  }
}
