:root {
  --abon-green: #00cc00;
  --abon-yellow: #ffa133;
  --abon-red: #ff3333;
  --abon-grey: #2b2a24;
  --abon-orange: #ff6033;
}

.desktop-only {
  display: block;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

#centred-content {
  display: flex;
  flex-direction: row;
}

#content-container {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.vertical-space {
  flex: 1;
}

#head-image {
  margin-top: -30px;
  width: 100%;
}

.columns {
  display: flex;
}

.columns div {
  flex: 1;
  margin-right: 5px;
}

.columns :last-child {
  margin-right: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 16pt;
  font-family: sans-serif;
}

.columns div p {
  margin-left: 10px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: rgba(33,37,41);
}

h2 .subtitle {
  font-size: 1.8rem;
  color: rgba(108, 117, 125);
}

@media all and (max-width: 1000px) {
  #content-container {
    flex: 10;
  }
}

.mobile-only {
  display: none;
}

@media all and (max-width: 800px) {
  .mobile-only {
    display: block;
  }

  #content-container {
    flex: 20;
  }

  .columns {
    display: block;
  }

  .columns div {
    margin-right: 0px;
  }

  .desktop-only {
    display: none;
  }
}
