#products {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.product {
  position: relative;
  overflow: hidden;
  max-width: 49.75%;
  border-radius: 30px;
  line-height: 0;
  margin-bottom: 3px;
}

div.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: rgb(43,42,36,0.85); /* Abon Grey but with added transparency*/
  opacity: 0;
}

.product.mouseOn div.overlay {
  animation: 0.4s 1 fadeIn forwards;
}

.product.mouseOff div.overlay {
  animation: 0.4s 1 fadeOut forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.product.mouseOn > img {
  animation: 0.4s 1 growProduct forwards;
}

.product.mouseOff > img {
  animation: 0.4s 1 shrinkProduct forwards;
}

@keyframes growProduct {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes shrinkProduct {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

h3 {
  color: var(--abon-orange);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 33px;
  font-weight: 500;
  line-height: normal;
  overflow-wrap: normal;
  margin-top: 0;
  margin-bottom: 10px;
  display: none;
}

/* .product.mouseOn h3 {
  display: inline-block;
}

.product.mouseOff h3 {
  display: none;
}

.product.mouseOn .buttons {
  display: inline-block;
}

.product.mouseOff .buttons {
  display: none;
} */

.product h3 {
  display: inline-block;
}

.product .buttons {
  display: inline-block;
}

.buttons > button {
  width: 50px;
}

img {
  width: 100%;
}

@media all and (max-width: 1000px) {
  .product {
    max-width: 100%;
  }
}

@media all and (max-width: 700px) {

}
