:host {
  margin: 10px;
}

li {
  list-style-position: outside;
  color: var(--error-text);
  margin-left: 20px;
}

li:last-child {
  margin-bottom: 5px;
}

p {
  color: var(--error-text);
  margin-bottom: 5px;
}

p:last-child {
  margin-bottom: 0px;
}
